.nav {
  display: flex;
  justify-content: space-around;
  padding: 0 0.2rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
  max-width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav__left {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.nav__logoText2 {
  color: rgb(126, 126, 126);
}

.nav .nav__right {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav .nav__middle {
  flex: 1;
  max-width: 600px;
  padding: 0.3rem 0.2rem;
  display: flex;
  align-items: center;
  background-color: rgba(227, 230, 231, 0.637);
  border-radius: 10px;
  /* padding-right: 1rem; */
}
.nav__searchInput {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.nav__drawer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .nav__logoText,
  .nav .nav__right {
    display: none;
  }
}
