.nav__personalNote {
  max-width: 550px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.nav__personalNote__col {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  cursor: pointer;
  user-select: none;
}
@media screen and (min-width: 768px) {
  .nav__personalNote {
    justify-content: space-between;
  }
}
